body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset{
    margin: 20px;
}

.content {
    background-color: gainsboro;
    display: inline-block;
    border: 5px solid black;
}

.container {
    width: 960px;
    height: 960px;
}